$inputWidth: 250px;
$inputHeight: 25px;
$inputPaddingX: 2px;
$inputPaddingY: 1px;
$inputBorderWidth: 2px;


.datetime {
    position: relative;
    background-color: attr(data-height);

    .datetime_picker {
        z-index: 9;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: calc(#{$inputHeight});
        left: 0px;
        display: none;
        background-color: white;
        box-shadow: 1px 1px 3px 0px rgba($color: #000000, $alpha: .3);

        min-height: 50px;
        min-width: calc(#{$inputWidth} + #{$inputPaddingX} * 2 + #{$inputBorderWidth} * 2)+20 !important;

        &.time {
            .header_controls {
                margin: 2px;
                margin-right: 15px;
                justify-content: end;
            }

            .body_controls {
                padding-top: 0;
            }
        }

        &.date,
        &.datetime {
            .header_controls {
                margin-left: 5px;
                margin-right: 5px;
            }

            .close {
                margin: 0;
            }
        }

        &.datetime {
            .hours_container {
                margin-top: 10px;
            }
        }

        &.show {
            display: flex;
            justify-content: center;
        }

        .header_controls {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 30px;
            font-size: 20px;
            color: rgba($color: #000000, $alpha: .8);
            margin: 0 5px;
            margin-top: 10px;
            align-items: center;

            select {
                background-color: transparent;
                text-decoration: none;
                border: none;
                text-align: right;
                width: auto;
            }

            .left,
            .right,
            .home,
            .close {
                cursor: pointer;
            }

            .left,
            .right,
            .home {
                font-size: 15px;
            }
        }

        .body_controls {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px;

            .separator {
                width: 1px;
                height: 175px;
                margin: 0 10px;
                background-color: rgba(#000, .3);
                margin-top: 15px;
            }

            thead {
                font-weight: bold;
                font-size: 11px;
                margin-bottom: 3px;
            }

            .date {
                padding: 4px;
            }

            .hour {
                margin: 2px 1px;
                padding: 2px 2px;
            }

            .date,
            .hour {
                background-color: rgba($color: #000000, $alpha: .05);
                text-align: center;

                &:not(.selectable) {
                    color: rgba($color: #000000, $alpha: .6);
                    background-color: rgba($color: #000000, $alpha: .04);
                }

            }

            .selectable {
                background-color: rgba($color: cyan, $alpha: .2);
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: cyan, $alpha: .7);
                }
            }

            .selected,
            .selected:hover {
                background-color: cyan;
            }

            .current_day {
                font-weight: bold;
            }

            .month_out {
                background-color: rgba($color: #00bac0, $alpha: .5);
            }

            .hours_container {
                justify-content: center;
                height: 175px;
                overflow-y: scroll;
                scroll-snap-type: y;
                scroll-margin-left: 5px;

                .current_hour {
                    background-color: cyan;
                }

            }
        }
    }

}